extends base 
block append head 

block append script
    //- script(src='/js/login.js')
block content
    main.main
        div.login-form
            h2.heading-secondary.ma-bt-lg Forgot your password?
            form.form.forgot_password_form_action
                div.form__group
                    label.form__label(for='email') Email address
                    input.form__input(type='email', id='email', name='email', placeholder='you@example.com', required)
                div.form__group
                    button.btn.btn--green.btn--small.btn--forgot-password Submit
                .form__group
                    a.form__link(href='/login') Have a account? Login here!