extends base 
block append head 

block append script
    //- script(src='/js/login.js')
block content
    main.main
        div.login-form
            h2.heading-secondary.ma-bt-lg Reset your password?
            form.form.reset_password_form_action
                div.form__group
                    input(type="hidden", name="token", value=`${token}` id="token")
                div.form__group
                    label.form__label(for='password') Password
                    input.form__input(type='password', id='password', name='password', placeholder='••••••••', required)
                div.form__group
                    label.form__label(for='password') Confirm Password
                    input.form__input(type='password', id='password-confirm', name='passwordConfirm', placeholder='••••••••', required)
                div.form__group
                    button.btn.btn--green.btn--small.btn--reset-password Reset Password
                .form__group
                    a.form__link(href='/login') Remember your password? Login here!